@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.main {
    @apply sm:container sm:mx-auto sm:mt-5;
}
.section {
    @apply flex flex-col break-words bg-white mt-5 sm:rounded-md sm:shadow-sm sm:shadow-lg;
}

.section-header {
    @apply font-semibold bg-gray-300 text-gray-700 py-3 px-6 sm:py-4 sm:px-8 sm:rounded-t-md;
}

.form-tag {
    @apply w-full px-6 pb-6 space-y-6 sm:px-10 sm:space-y-8;
}

.search-condition {
    @apply grid gap-6 mb-6 md:grid-cols-2;
}

.list-table {
    @apply min-w-max w-full table-auto;
}

.list-table-head {
    @apply border-b bg-gray-500;
}

.list-table-head-tr {
    @apply bg-gray-600 text-gray-100 uppercase text-sm leading-normal;
}

.list-table-body {
    @apply text-gray-800 text-sm;
}

.list-table-body-tr {
    @apply text-gray-800 border-b border-gray-200 hover:bg-gray-100;
}

.label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}

.input-text {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.input-text-md {
    @apply w-[350px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.error-text {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}

.search-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded;
}

.clear-btn {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-900 border-gray-500 font-bold py-3 px-8 rounded;
}

.update-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded;
}

.delete-btn {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-8 rounded;
}

.new-btn {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-3 px-4 rounded;
}

.edit-btn {
    @apply bg-gray-500 hover:bg-gray-700 text-white py-1 px-3 rounded text-xs;
}

.flash-info {
    @apply bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded mt-3 mx-10;
}

.flash-err {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mt-3 mx-10;
}

.check-box {
    @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600
}

.check-box-label {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300
}

.radio-buton {
    @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500
}

.select-box {
    @apply w-fit pr-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.input_date {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.text-area {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.form-input {
    @apply bg-gray-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-input:focus {
    @apply outline-none;
}

.valid-msg {
    @apply mt-2 text-sm text-red-600 dark:text-red-500;
}

.badge-green {
    @apply bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900;
}

.badge-red {
    @apply bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900;
}

.badge-yellow {
    @apply bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900;
}

.require-label {
    @apply bg-red-200 text-red-800 text-xs px-2.5 py-0.5 rounded ml-5;
}

.require-label::after {
    content: '必須';
}

button.sort_button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    /* text-decoration: underline; */
}
  
button.sort_button_up::after {
    content: '　▲';
    font-size: 0.7rem;
    /* float: right; */
}
button.sort_button_down::after {
    content: '　▼';
    font-size: 0.7rem;
    /* float: right; */
}
